CREATELabVisualProgrammer.iws
.DS_Store

java/CREATELab
java/code/applications/build
java/code/applications/dist
java/code/audio-clips/build
java/code/audio-clips/dist
java/code/core/build
java/code/core/build-test
java/code/core/dist
java/code/look-and-feel/build
java/code/look-and-feel/dist
java/code/supported-devices/finch/build
java/code/supported-devices/finch/dist
java/code/supported-devices/hummingbird/build
java/code/supported-devices/hummingbird/dist
java/code/web-distro/dist
